body::-webkit-scrollbar {
    width: 1px;               
  }
body{

    background-color: rgb(75,6,7);

}
#barra_menu{
   
    background-color: rgba(8, 8, 8, 0.427);
}

a{
    font-family: steakhouse , Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-style: none;
    text-decoration: none;
    font-size: 50px;
    padding-left: 45%;
 
  
}
.container{
    background-color: rgba(8, 8, 8, 0.427);
    height: 550px;
    width: 500px;
    margin-top:20px ;
    text-align: center;
    padding: 10px;
    border-radius: 10px ;
    font-family:monospace;
    font-size: large;
    position: absolute;
    top: 10%; bottom: 25%; left: 7%;

}
.titulo{
    display:flex;
    text-align: center;
    align-items: center;
    
}
h1{
    width: 550px;
    font-family:monospace;
    text-align:center;
    font-size: 30px;
    color:rgb(228, 117, 48);
    padding: 10PX;
}
p{
    color: rgb(227, 179, 45);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
input{
    width:70%;
    display: block;
    margin:auto;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.422);
    color: rgb(255, 252, 252);
    font-size: 22px;
    padding-left: 10px;
}
input::placeholder{
    color: white;
}
#adulto{
    margin-top: 55px;
}
button{

    padding: 15px;
    margin-top: 55px;
    font-size: 30px;
    background-color: rgba(228, 117, 48, 0.747);
    color: rgb(226, 216, 217);
    border-radius: 30px;
    border-color: #00000000;

}
button:hover{
    background-color: rgb(114, 10, 12);
}
#img{
    height: 900px;
    height: 640px;
    position: absolute;
    top: -20%;
    left: -10%;
}
#resultado{
    background-color: rgba(0, 0, 0, 0.596);
    width: 500px;
    height: 380px;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    top: 15%; bottom: 50%; right: ;
    left: 140%;
    
}
#tituloResposta{
   margin: none;
   width: 500px;
}
br{
    font-size: 12px;
    color:#ffffff ;
}

@font-face {
    font-family:steakhouse ;
    src: url(./fontes/Steak\ House.otf);
}
@font-face {
    font-family:steakhouse2 ;
    src: url(./fontes//Steak\ House.woff2)
}
